{% extends "rental/base.html" %}

{% block content %}
<h1>貸出履歴</h1>

<table>
  <thead>
    <tr>
      <th>備品名</th>
      <th>学生名</th>
      <th>学籍番号</th>
      <th>使用目的</th>
      <th>貸出日</th>
      <th>返却予定日</th>
      <th>返却日</th>
      <th>状態</th>
    </tr>
  </thead>
  <tbody>
    {% for loan in loans %}
      <tr>
        <td>{{ loan.item.name }}</td>
        <td>{{ loan.student_name }}</td>
        <td>{{ loan.student_number }}</td>
        <td>{{ loan.purpose }}</td>
        <td>{{ loan.borrow_date }}</td>
        <td>{{ loan.return_due_date }}</td>
        <td>{{ loan.return_date|default:"-" }}</td>
        <td>{{ loan.get_status_display }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="8">貸出履歴はありません。</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
